h1 {
  color: red;
  background-color: blue;
  text-align: center;
}
h2 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body {
  background-color: violet;
}
